doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Crimson+Text")
        link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Istok+Web")

        //build:css css/styles.min.css
        link(rel="stylesheet" href="css/styles.css")
        //endbuild

        title Ano Bayan!
    body
        h1.title Ano Bayan
        div a-no baj-j&aelig;n

        //build:js js/main.min.js
        script(src="js/custom.js")
        script(src="js/test.js")
        //endbuild
